table {
	border-collapse: collapse;
	margin: 10px;
}

tr,
td,
th {
	border: 1px solid ;
	padding: 20px;
	width: 150px;
	text-align: center;
	box-sizing: border-box;
}

form {
	padding: 5px;
}

form table input {
	width: 100%;
}

a {
	text-decoration: none;
	border: 1px solid #B4B4B4;
	border-radius: 15px;
	background: linear-gradient(to bottom, #ededed 0%, #dbdbdb 50%, #a8a8a8 100%);
	color: #000000;
	padding: 6px 8px;
}

table a:hover {
	border-color: #595959;
}